version: 2
jobs:
  build:
    docker:
      - image: mrkkrp/mk-com:0.2.4
    steps:
      - checkout
      # - restore_cache:
      #     keys:
      #       - stack-home-{{ checksum "stack.yaml" }}
      #       - stack-home-
      # - restore_cache:
      #     keys:
      #       - stack-work-{{ checksum "stack.yaml" }}
      #       - stack-work-
      # - run: stack --version
      # - run: stack setup
      - run: stack build
      - run: stack test
      - run: stack exec mk-com -- clean
      - run: pdflatex -output-directory resume/ resume/resume.tex
      - run: stack exec mk-com
      - run: html5validator --root _build/ --show-warnings
      - persist_to_workspace:
          root: ~/project
          paths:
            - _build
      # - save_cache:
      #     key: stack-home-{{ checksum "stack.yaml" }}
      #     paths: "~/.stack"
      # - save_cache:
      #     key: stack-work-{{ checksum "stack.yaml" }}
      #     paths: ".stack-work"

  deploy:
    docker:
      - image: mrkkrp/mk-com:0.2.4
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Copy to the droplet with rsync
          command: rsync -avz -e "ssh -p 2555 -o \"StrictHostKeyChecking no\"" /tmp/_build/ admin@markkarpov.com:/home/admin/markkarpov.com

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
