# Mark Karpov

Tel.: {{ social.phone }} \
Email: markkarpov92@gmail.com \
GitHub: <{{ social.github }}> \
Twitter: <{{ social.twitter }}> \
LinkedIn: <{{ social.linkedin }}> \
The resume is also available online: <{{ host }}/resume.html>
