# Mark Karpov

Tel.: {{ social.phone }} \
Email: {{ social.email }} \
GitHub: <{{ social.github }}> \
LinkedIn: <{{ social.linkedin }}> \
The resume is also available online: <{{ host }}/resume.html>
