<h1>About me</h1>

<img src="/static/img/my-photo.png" class="float-right ml-3">

<p>
  Hey there! My name is Mark Karpov, I'm a professional Haskell developer.
  When I'm not coding or writing about Haskell, I like to listen to music,
  travelling, and reading (fiction/non-fiction—everything).
</p>

<p> I've authored and maintain a number of <a href="/oss.html">open source
  projects</a>, have written several Haskell-related <a
  href="/learn-haskell.html">tutorials</a> (as part of my paid job and on my
  own). I'm also going to contribute a few chapters for an upcoming Haskell
  book called <a href="https://intermediatehaskell.com/">Intermediate
  Haskell</a>. On this site I have collected some stuff I do for easy
  access, I hope you find something that interests you. </p>

<p>
  Here are my social accounts:
</p>
<ul>
  <li>
    <span class="fa fa-github fa-lg" area-hidden="true"></span>
    <a href="{{ social.github }}">GitHub</a>
  </li>
  <li>
    <span class="fa fa-twitter fa-lg" area-hidden="true"></span>
    <a href="{{ social.twitter }}">Twitter</a>
  </li>
  <li>
    <span class="fa fa-stack-overflow fa-lg" area-hidden="true"></span>
    <a href="{{ social.stackoverflow }}">StackOverflow</a>
  </li>
</ul>

<!--

<p>
  In case you seek assistance of a Haskell consultant, my résumé can be
  found here:
</p>
<ul>
  <li>
    <span class="fa fa-html5 fa-lg" area-hidden="true"></span>
    <a href="/resume.html">HTML</a>
  </li>
  <li>
    <span class="fa fa-file-pdf-o fa-lg" area-hidden="true"></span>
    <a href="/resume.pdf">PDF</a>
  </li>
  -->
</ul>
