<h1>About me</h1>

<img src="/static/img/my-photo.png" alt="My photo" class="float-right d-none d-md-block d-ml-3">

<p>
  Hey there! My name is Mark Karpov, I'm a professional Haskell developer.
  When I'm not coding or writing about Haskell, I like listening to music,
  travelling, and reading.
</p>

<p>
  I've authored and maintain a number of <a href="/oss.html">open source
    projects</a>, have written several
    Haskell-related <a href="/learn-haskell.html">tutorials</a> (as part of
  my paid job and on my own). I've also contributed a few chapters for an
  upcoming Haskell book
  called <a href="https://intermediatehaskell.com/">Intermediate
    Haskell</a>. On this site I have collected some stuff I do for easy
  access, I hope you'll find something that interests you.
</p>

<p>
  Here are my contacts and social accounts:
</p>
<ul>
  <li>
    <span class="fa fa-envelope"></span>
    <a class="protected-email" data-email="{{ social.email }}"
       href="javascript:void(0)">Enable JavaScript to see my email</a>
  </li>
  <li>
    <span class="fa fa-github fa-lg"></span>
    <a href="{{ social.github }}">GitHub</a>
  </li>
  <li>
    <span class="fa fa-twitter fa-lg"></span>
    <a href="{{ social.twitter }}">Twitter</a>
  </li>
  <li>
    <span class="fa fa-reddit fa-lg"></span>
    <a href="{{ social.reddit }}">Reddit</a>
  </li>
  <li>
    <span class="fa fa-linkedin fa-lg"></span>
    <a href="{{ social.linkedin }}">LinkedIn</a>
  </li>
  <li>
    <span class="fa fa-stack-overflow fa-lg"></span>
    <a href="{{ social.stackoverflow }}">StackOverflow</a>
  </li>
  <li>
    <span class="fa fa-instagram fa-lg"></span>
    <a href="{{ social.instagram }}">Instagram</a>
  </li>
</ul>
