<h1>Artworks</h1>

<p>
  For inquiries regarding the artworks please write to
  <a href="javascript:void(0)"
     class="protected-email"
     data-email="{{ social.email }}">Enable JavaScript to see this
    email</a>.
  The prices do not include frames.
</p>

{{# artworks }}
<figure>
  <img src="/static/img/artworks/{{ file }}" alt="{{ title }}" class="img-fluid">
  <figcaption>
    <em> {{ title }} </em><br>
    {{ date }}. {{ medium }}, {{ height }} &times; {{ width }} cm.
    {{# sold }} SOLD {{/ sold }}
    {{^ sold }} {{ price }} &euro; {{/ sold }}
  </figcaption>
</figure>
{{/ artworks }}
