<h1>Galleries</h1>

Here you can browse my photo galleries. If you would like to get a
high-quality print of any photo, <a href="/about.html">contact me</a>.

<table class="table table-striped mt-3">
  {{# gallery }}
  <tr>
    <td>{{ updated }}</td>
    <td>
      <a href="/gallery/{{ file }}">{{ title }}</a>
    </td>
  </tr>
  {{/ gallery }}
</table>
