<h1>Photos</h1>

<p>
  If you would like to get a high-quality print of any photo, contact me at
  <a href="javascript:void(0)" class="protected-email" data-email="{{ social.email }}">Enable JavaScript to see this email</a>.
</p>

<table class="table table-striped mt-3">
  {{# gallery }}
  <tr>
    <td>{{ updated }}</td>
    <td>
      <a href="/gallery/{{ slug }}.html">{{ title }}</a>
    </td>
  </tr>
  {{/ gallery }}
</table>
