<h1>{{ title }}</h1>

{{# photos }}
<figure>
  <img src="/static/img/gallery/{{ file }}" alt="{{ date }}" class="img-fluid">
  <figcaption>
    {{ date }}. {{ camera }} with {{ lens }} at {{ aperture }} {{ exposure}} sec ISO {{ iso }}.
  </figcaption>
</figure>
{{/ photos }}
