<h1>{{ title }}</h1>

{{# photos }}
<figure>
  <img src="/static/img/gallery/{{ slug }}/{{ file }}" alt="{{ date }}" class="img-fluid">
  <figcaption>
    {{ date }}. {{ camera }} with {{ lens }} at {{ aperture }} {{ exposure}}
    sec ISO {{ iso }}. {{ comment }}
  </figcaption>
</figure>
{{/ photos }}
