<h1>{{ title }}</h1>

{{# photos }}
<img src="/static/img/gallery/{{ file }}" alt="{{ date }}" class="img-fluid">
<p>{{ date }}. {{ camera }} with {{ lens }}
  at {{ aperture }} {{ exposure }} sec ISO {{ iso }}.</p>
{{/ photos }}
