<h1>Let's learn Haskell</h1>

<h2>Generic tutorials</h2>
<table class="table table-striped">
  {{# generic_tutorials }}
  <tr>
    <td>{{ published }}</td>
    <td>
      {{# url }}
      <a href="{{ . }}" target="_blank">{{ title }}</a>
      <span class="fa fa-external-link"></span>
      {{/ url }}
      {{^ url }}
      <a href="{{ file }}">{{ title }}</a>
      {{/ url }}
    </td>
  </tr>
  {{/ generic_tutorials }}
</table>

<p>
  The <span class="fa fa-external-link"></span> sign indicates that the
  tutorial is located outside of my personal web site. This is usually due
  to the fact that the content was created as part of my paid job for an
  employer.
</p>

<h2>Megaparsec tutorials</h2>
<table class="table table-striped">
  {{# megaparsec_tutorials }}
  <tr>
    <td>{{ published }}</td>
    <td><a href="{{ file }}">{{ title }}</a></td>
  </tr>
  {{/ megaparsec_tutorials }}
</table>
<p>
  The tutorials here have been updated to be used with Megaparsec 6.
</p>

<h2>Recommended tutorials</h2>
<p>
  This is the list of Haskell tutorials by other authors that I personally
  can recommend. These tutorials are, in my opinion, practical, concise
  (most of them, others are just too good), to-the-point; they build right
  intuitions.
</p>
<table class="table table-striped">
  {{# recommended_tutorials }}
  <tr>
    <td>{{ topic }}</td>
    <td>
      <a href="{{ url }}" target="_blank">{{ title }}</a>
      <span class="fa fa-external-link"></span>
    </td>
  </tr>
  {{/ recommended_tutorials }}
</table>
