<h1>Let's learn Haskell together</h1>

<h2>Generic tutorials</h2>
<table class="table table-striped">
  {{# tutorials_for_former_employers }}
  <tr>
    <td>{{ published }}</td>
    <td>
      <a href="{{ url }}" target="_blank">{{ title }}</a>
      <span class="fa fa-external-link"></span>
    </td>
  </tr>
  {{/ tutorials_for_former_employers }}
</table>

<p>
  The <span class="fa fa-external-link"></span> sign indicates that the
  tutorial is located outside of my personal web site. This is usually due
  to the fact that the content was created as part of my paid job for an
  employer.
</p>

<h2>Megaparsec tutorials</h2>
<table class="table table-striped">
  {{# megaparsec_tutorials }}
  <tr>
    <td>{{ published }}</td>
    <td><a href="{{ file }}">{{ title }}</a></td>
  </tr>
  {{/ megaparsec_tutorials }}
</table>
