<h1>Learn Haskell</h1>

<h2>My tutorials</h2>
<table class="table table-striped">
  {{# my_tutorials }}
  <tr>
    <td>{{ published }}</td>
    <td>
      {{# url }}
      <a href="{{ . }}" target="_blank">{{ title }}</a>
      <span class="fa fa-external-link"></span>
      {{/ url }}
      {{^ url }}
      <a href="{{ file }}">{{ title }}</a>
      {{/ url }}
    </td>
  </tr>
  {{/ my_tutorials }}
</table>

<h2>Recommended tutorials</h2>
<p>
  This is the list of Haskell tutorials by other authors that I recommend.
</p>
<table class="table table-striped">
  {{# recommended_tutorials }}
  <tr>
    <td>{{ topic }}</td>
    <td>
      <a href="{{ url }}" target="_blank">{{ title }}</a>
      <span class="fa fa-external-link"></span>
    </td>
  </tr>
  {{/ recommended_tutorials }}
</table>
