<h1>Notes</h1>

<p>
  These are my notes on various topics. I usually write them to be able to
  come back and refresh a particular subject in memory or to summarize my
  current state of knowledge or know-how.
</p>

<table class="table table-striped">
  {{# post }}
  <tr>
    <td>{{ published }}</td>
    <td>
      <a href="{{ file }}">{{ title }}</a>
    </td>
  </tr>
  {{/ post }}
</table>
