<h1>Open source software</h1>

<p>
  Here I list all currently active OSS projects I have authored and/or
  maintain. If you wish to contact me regarding a project, use GitHub
  issues.
</p>

{{# oss }}
<h2>{{ section }}</h2>
<table class="table table-striped">
  {{# items }}
  <tr>
    <td><a href="https://github.com/{{ repo }}">{{ name }}</a></td>
    <td>{{ desc }}</td>
  </tr>
  {{/ items }}
</table>
{{/ oss }}
