<h1>{{ title }}</h1>

{{# tag }}
<a href="{{ page }}" class="badge bg-primary">{{ value }}</a>
{{/ tag }}

{{# date }}
<p>
  <em class="text-muted">
    Published on {{ published }}{{# updated }}, last updated {{ . }}{{/ updated }}
  </em>
</p>
{{/ date }}

{{& inner }}
