<h1>Posts
  <a href="/feed.atom" class="float-right">
    <span class="fa fa-rss"></span>
  </a>
</h1>

{{# tag }}
<a href="/tag/{{ . }}.html" class="badge badge-primary">{{ . }}</a>
{{/ tag }}

<table class="table table-striped mt-3">
  {{# post }}
  <tr>
    <td>{{ published }}</td>
    <td>
      {{# url }}
      <a href="{{ . }}" target="_blank">{{ title }}</a>
      <span class="fa fa-external-link"></span>
      {{/ url }}
      {{^ url }}
      <a href="{{ file }}">{{ title }}</a>
      {{/ url }}
    </td>
  </tr>
  {{/ post }}
</table>
