<h1>{{ title }}</h1>

{{# tag }}
<a href="/tag/{{ . }}.html" class="badge badge-primary">{{ . }}</a>
{{/ tag }}

{{# date }}
<p>
  <em class="text-muted">
    Published on {{ published }}{{# updated }}, last updated {{ . }}{{/ updated }}
  </em>
</p>
{{/ date }}

{{# attachment }}
<div class="card">
    <div class="card-header">
      Attachments to this article
    </div>
    <div class="card-body">
      <span class="fa fa-file-text-o"></span>
      <a href="/attachment/{{ . }}">{{ . }}</a>
    </div>
  </div>
{{/ attachment }}

  {{& inner }}

  <div id="disqus_thread"></div>

{{# location }}
<script>
var disqus_config = function () {
this.page.url = "{{ host }}/{{ location }}";
this.page.identifier = "{{ location }}";
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://markkarpov.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{/ location}}
