<h1>{{ title }}</h1>

<p>
  <span class="fa fa-envelope"></span>
  <a href="javascript:void(0)" class="protected-email" data-email="mailto:{{ social.email }}">Enable JavaScript to see this email</a><br>
  <span class="fa fa-github"></span>
  <a href="{{ social.github }}">{{ social.github }}</a><br>
  <span class="fa fa-twitter"></span>
  <a href="{{ social.twitter }}">{{ social.twitter }}</a><br>
  <span class="fa fa-linkedin"></span>
  <a href="{{ social.linkedin }}">{{ social.linkedin }}</a><br>
  <span class="fa fa-stack-overflow"></span>
  <span class="fa fa-file-pdf-o"></span>
  <a href="/resume.pdf">PDF version of the resume</a>
</p>

{{& inner }}
