<h1>{{ title }}</h1>

{{# desc }}
<p><em>{{ . }}</em></p>
{{/ desc }}

{{# date }}
<p>
  <em class="text-muted">
    {{ started }}—{{# finished }}{{ . }}{{/ finished }}
  </em>
</p>
{{/ date }}

{{& inner }}
